.item-card {
  margin: 1.25rem;
  width: 300px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: .5rem;
  color: #c9d1d9;
  background-color: #161b22;
  font-size: 1rem;
  cursor: pointer;
  transition: .5s;
}

.item-card:hover {
  box-shadow: 1px 1px 15px 10px rgba(150, 150, 150, .5);
}

.item-card h2 {
  margin: 0;
  font-size: 1.5rem;
}

.item-card p {
  margin: .5rem 0;
  padding-left: 1rem;
}

.item-card__btn {
  margin-right: 0px;
  margin-left: auto;
  padding: .2rem .5rem;
  height: 1.5rem;
  border-radius: 10px;
  background: #35ac35;
  text-align: center;
  font-size: 1rem;
  color: #c9d1d9;
  align-self: center;
  text-decoration: none;
}

.item-card__btn:hover {
  box-shadow: 1px 1px 10px 5px rgba(53, 172, 53, .5);
}
