.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease;
}

.modal-content {
  position: relative;
  cursor: auto;
}

.modal-content div {
  cursor: auto;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, .2);
}
.modal-content div:hover {
  cursor: auto;
  box-shadow: 1px 1px 8px 5px rgba(0, 0, 0, .2);
}

.modal-close {
  content: "";
  position: absolute;
  top: 1.75rem;
  right: 1.75rem;
  width: 1em;
  height: 1em;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.875em auto no-repeat;
  border: 0;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
  filter: invert(1);
}
